*{
    margin: 0;
    padding: 0;
    box-shadow: none;

}
body{
    color: aquamarine;
    background-color: rgb(92, 90, 90);
}
.section1{

    align-items: center;
    /* display: flex;
    flex-direction: column; */

}
.hero{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 30px;
    display: flex;
    align-items: center;
}
p{
    margin-top:20px ;
    font-size: 20px;
}
.i-btn{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.input input[type="text"],
.input input[type="url"]
{
   width: 30vw;
   height: 5vh;
   border-radius: 10px;
   gap: 20px;
   background-color: rgba(245, 247, 250, 0.938);
   color: rgb(10, 10, 10);
   border-color: aliceblue;
}
.input input[type="text"]:hover{
    color: aqua;
    background-color: rgb(92, 90, 90);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
    
}

.btn{
    cursor: pointer;
    width: 20vw;
    height: 12vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(92, 90, 90);
    background-color:aqua ;
    border-radius: 19px;
}
.btn:hover{
    background-color: rgb(92, 90, 90);
    color: aqua;
}
label{
    color: aqua;
}
       
